.chatBox{
    width: fit-content;
    padding: 6px 7px 8px 9px;
    box-sizing: border-box;
    box-shadow: 0 1px 0.5px rgba(11,20,26),.13;
    background-color: white;
    border-radius: 5px;
    user-select: text;
    font-size: 14px;
}