.App {
  position: relative;
  width: 100%;
  height: 100%;
}


:root {
  --Background-Color: #eae6df;
  --Background-Color2: #f0f2f5;
  --Accent-Color: #00a884;
  --Border-Color: #e9edef;
  --Shadow: 11,20,26;
}