@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,300');

body {
  margin: 0px !important;
  font-family: "Open Sans", sans-serif;
}

html, body, #root {
  width: 100%; height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb:hover {
  background: #c5c5c5;
}