.homePage{
    width: 100%; height: 100%;
    background: var(--Background-Color);
    background-image: linear-gradient(180deg,var(--Background-Color), var(--Background-Color2));
    display: flex;
    align-items: center;
    justify-content: center;

    >.stripe{
        position: fixed;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 127px;
        background-color: var(--Accent-Color);
    }
}